{% for product in products %}
<tr id="{{ product.id }}" class="product">
	<td class="sonata-ba-list-field sonata-ba-list-field-text" >
		<input type="text" class="cant" value="1" style="width: 25px; text-align: center;"/>
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" >
		{{ product.code }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" >
		{{ product.description }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" >
		{{ product.price }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" >
		<a href="#" class="btn delete_link" title="Borrar">
			<i class="icon-remove"></i>Borrar
		</a>
	</td>
</tr>
{% endfor %}