<div class="card_page">
	<div class="card_to"></div>
	<div class="card_message"></div>
	<div class="card_from"></div>	
</div>
<a href="javascript:void();" class="btn btn-print-card" title="{{ 'button.print_card'|trans({}, 'InodataFloraBundle') }}">
    <i class="icon-print"></i>{{ 'button.print_card'|trans({}, 'InodataFloraBundle') }}
</a>