<div class="card_page">
	<div class="to">blu</div>
	<div class="from">bla</div>	
	<div class="message">werlewrkjlkdsjflkdsj</div>
</div>
<a href="#" class="btn btn-print-card" title="{{ 'button.print_card'|trans({}, 'InodataFloraBundle') }}">
    <i class="icon-print"></i>{{ 'button.print_card'|trans({}, 'InodataFloraBundle') }}
</a>