<div class="card_page">
	<div class= "card_header"><img class="img_header" src="{{ asset('bundles/inodataflora/img/note_header.png') }}"></div>
	<div class= "card_data">
		<div class="label_to"><strong>Para: </strong></div>
		<div class="card_to"></div>
		<div class="card_message">
			<table class="message_container">
				<tbody>
					<tr><td style="vertical-align:middle"></td></tr>
				</tbody>
			</table>
		</div>
		<div class="label_from"><strong>De: </strong></div>
		<div class="card_from"></div>
	</div>	
</div>
<a href="javascript:void();" class="btn btn-print-card" title="{{ 'button.print_card'|trans({}, 'InodataFloraBundle') }}">
    <i class="icon-print"></i>{{ 'button.print_card'|trans({}, 'InodataFloraBundle') }}
</a>