#Eclipse
.buildpath
.project
.settings/*

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
*.php~

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Flotr2Bundle
Inodata/*