parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     flora
    database_user:     root
    database_password: super

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ChangeThisSecret!
    database_path:     ~
    
    #Inodata Parameters
    order_shipping:    65
    collector_commission: 0.1
    
    issuing_name:       ~
    issuing_rfc:        ~
    issuing_curp:       ~
    issuing_street:     ~
    issuing_nint:       ~
    issuing_neighborhood: ~
    issuing_city:       ~
    issuing_state:      ~
    issuing_cp:         ~
    issuing_phone:      ~
    issuing_phone2:     ~

    #Printers configuration
    card_printer: Epson_xp001
    note_printer: Epson_xp002
    invoice_printer: Facturas
