<a href="{{ path('inodata_flora_collection_order_boxcut', {orderId:object.id }) }}" class="btn boxcut" title="{{ 'label.collector_boxcut'|trans({}, 'InodataFloraBundle') }}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}"/>
	{{ 'label.collector_boxcut'|trans({}, 'InodataFloraBundle') }}
</a>
