<a href="#" class="btn" title="{{ 'label.collector_boxcut'|trans({}, 'InodataFloraBundle') }}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}"/>
	{{ 'label.collector_boxcut'|trans({}, 'InodataFloraBundle') }}
</a>
