<a href="{{ path('inodata_flora_collection_order_deposit', {orderId:object.id})}}" 
	class="btn deposit" title="{{ 'label.collector_payment'|trans({}, 'InodataFloraBundle') }}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}"/>
	{{ 'label.collector_payment'|trans({}, 'InodataFloraBundle') }}
</a>