<a href="{{ path('inodata_flora_collection_order_pay', {orderId:object.id})}}" 
	class="btn pay-action" title="{{ 'label.collector_pay'|trans({}, 'InodataFloraBundle') }}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}"/>
	{{ 'label.collector_pay'|trans({}, 'InodataFloraBundle') }}
</a>