<a href="#" class="btn order-action reasign" title="Reasignar" orderid="{{ order.id }}">
	Reasignar
</a>
<a href="javascript:void()" class="btn order-action cancel-reasign" title="Cancelar" orderid="{{ order.id }}">
	{{ 'label.cancel'|trans({}, 'InodataFloraBundle') }}
</a>
<div class="msg-to-reasign">
	Selecciona el repartidor en las pestañas superiores.
</div>