<a href="#" class="btn" title="{{ 'label.remove'|trans({}, 'InodataFloraBundle') }}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/cancel.png') }}"/>
	{{ 'label.remove'|trans({}, 'InodataFloraBundle') }}
</a>
