{% if orderPayments is not defined %}
	{% set  orderPayments = 0%}
{% endif %}

{% if orderPayments == 0%}
	<a href="{{ path('inodata_flora_collection_order_remove', {orderId:object.id }) }}" 
		class="btn {% if ajax is defined %}order-action remove{% endif %}" title="{{ 'label.unasign'|trans({}, 'InodataFloraBundle') }}">
	    <img src="{{ asset('bundles/sonataadmin/famfamfam/cancel.png') }}"/>
		{{ 'label.unasign'|trans({}, 'InodataFloraBundle') }}
	</a>
{% endif %}