@media print {
	
	body {
		padding: 10%;
	}
	
	.page-break	{ display: block; page-break-before: always; }
	
	.print_table {
	
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		color: #404040;
		
		width: 100%;
		margin-bottom: 20px;
		
		max-width: 100%;
		background-color: transparent;
		border-spacing: 0;
		
		margin: 0;
		padding: 0;
		border: solid 1px black;
		
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		color: #404040;
	}
	
	.print_table thead {
		vertical-align: middle;
	}
	
	.print_table td {	
		vertical-align: middle;
		border: solid 1px black;
		padding: 0;
		margin: 0;
	}
	
	.logo{
	  	height: 70px;
	  	#background: url(../../bundles/inodataflora/img/logo.jpg) no-repeat;
	  	width: 35%;
  	}
}

@media screen{
	
	/* STYLE FOR EDIT IN PLACE ON DISTRIBUTIONS TABS*/ 
	.st_tabs_ul li p{
		float: left;
		margin: 0;
		padding-left: 4px;
		height: 15px;
		color: inherit;
		font-family: Arial,Helvetica,sans-serif;
		font-weight: bold;
	}
	.st_tabs_ul li p.new-line{
		clear:left;
	}
	
	.st_tabs_ul li a > div{
		position:relative;
		top: -7px;
	}
	.st_tabs_ul li > div{
		position:relative;
		top: -41px;
		padding: 0 22px;
	}
	.st_tabs_ul li.st_li_active > div p{
		color: #0088cc;
	}
	
	.st_tabs_ul li > div {
		visibility: hidden;
	}
	.st_tabs_ul li.st_li_active > div{
		visibility: visible;
	}
	.st_tabs_ul li.st_li_active a > div{
		visibility: hidden;
	}
	/* ---------------------------------- */
	
	/*--------- CONTENT HEADER----------- */
	.inner-filters{width: 100%; height: 10px;}
	.inner-filters > div{
		float:left;
		padding-left: 10px;
	}
	
	.inner-filters .sonata-ba-field{
		width:25%;
	}
	div#s2id_inodata_distribution_type_form_id{
		width: 100%;
	}
	
	.sonata-ba-field #s2id_inodata_distribution_type_form_id .select2-choice > span{
		color: #444;
	}
	.select2-results li div{
		color: #000;
	}
	.select2-results li.select2-highlighted div{
		color: #FFF;
	}
	
	.boxes, .lamps{
		position: relative;
		padding-left: 0px; 
	}
	
	.boxes .num-boxes{
		position: absolute;
		background: url("../../../bundles/inodataflora/img/box.png") no-repeat;
		background-size: 100%;
		width: 65px;
		height: 60px;
		top: -30px;
		left: 25px;
		font-size: 45px;
		font-weight: bold;
		line-height: 45px;
		color: #444;
		text-align: center;
		z-index: -1;
	}
	.boxes > div, .lamps > div {
		float: left;
	}
	.boxes > div a, .lamps > div a{
		font-size: 50px;
		padding: 0 11px;
		height: 100%;
	}
	
	.lamps .num-lamps {
		position: absolute;
		background: url("../../../bundles/inodataflora/img/lamp.png") no-repeat;
		background-size: 100%;
		width: 65px;
		height: 60px;
		top: -30px;
		left: 25px;
		font-size: 45px;
		font-weight: bold;
		line-height: 45px;
		color: #444;
		text-align: center;
		z-index: -1;
	}
	
	.in-transit, .is-delivered{
		position: relative;
		width: 70px;
		height: 30px;
		top: -6px;
		padding-left: 20px;
	}
	.in-transit > div, .is-delivered > div{
		position: relative;
		color: #444;
		font-weight: bold;
		width: 100%;
		text-align: center;
		
	}
	.in-transit > div:first-child, .is-delivered > div:first-child{
		top: -10px;
		font-size: 45px;
	}
	/*----------------------------------------*/
	
	/*------Change color of order status------*/
	td.order-delivered{
		font-weight: bold;
		color: #00B945;
	}
	td.order-intransit{
		#font-weight: bold;
		color: #0088CC;
	}
	
	/*Mostrar y ocultar mensaje de reasignar orden*/
	##.sonata-ba-list-field-actions{position: relative;}
	.sonata-ba-list-field-actions > .msg-to-reasign{
		position: absolute;
		border: solid 2px #0064CC;
		border-radius: 5px;
		padding: 5px 3px;
		background: #0088CC;
		color: #FFF;
		line-height:13px;
		font-size: 12px;
		font-weight:bold;
		text-align: center;
		display:none;
		z-index:2000;
	}
	.msg-to-reasign.selected{
		display: block;
	}
	.sonata-ba-list-field-actions a.cancel-reasign{
		display:none;
	}
	
	/*Quitar borde del edit in place de los tabs*/
	.st_tabs .editable-click{
		border-bottom: 0;
	}
	
	/* CSS for Collection*/
	.sonata-bc .row-fluid .slidetabs .span5 {
		width:100%;
	}
	
	.collecting, .collected {
		position: relative;
		width: 70px;
		height: 30px;
		top: -6px;
		padding-left: 20px;
	}
	
	.collecting > div, .collected > div {
    	position: relative;
    	color: rgb(68, 68, 68);
    	font-weight: bold;
    	width: 100%;
    	text-align: center;
    }
    
    .collecting > div:first-child, .collected > div:first-child {
    	top: 0px;
    	font-size: 16px;
    }
    
    .sonata-bc input.filter-deliver-date{
    	width: 110px;
    }
}

