@media screen, projection {
  div.list-products-content{ width:100%;}
  div.list-products-content .table-1 {float:left; width:80%;}
  div.list-products-content .table-2 { float:right; width: 20%;}
  
  .create-product-form{
  	width: 80%;
  }
  .create-product-form > div {
  	float: left;
  	padding: 0 5px 5px 0;
  }
  .create-product-form .product-code input{
  	width: 70px;
  }
  .create-product-form .product-description input{
  	width: 400px;
  }
  .create-product-form .product-price input{
  	width: 70px;
  }
  
  .sonata-ba-collapsed-fields > .control-group:nth-child(13),
  .sonata-ba-collapsed-fields > .control-group:nth-child(14){
  	float: left;
  	width: 50%;
  }
  
  .invoice_page .editable, .sonata-bc .invoice_page .editable input{
  	background: #FFCCCC;
  }
  
  #order-invoice-print {display: none;}
  .original_string, .digital_stamp, .footer_container{display:none;}
  
 .payment-note, .card_page { display: none; }
}

@media print
{
	*{ background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	body.sonata-bc { padding: 0px; }
	p, h2, h3 { orphans: 3; widows: 3; }
  	h2, h3 { page-break-after: avoid; }
	
	.divisor, .original_string, .digital_stamp, .footer_container{display:none;}
	.sonata-bc .container-fluid .row-fluid .span6, 
	.sonata-bc .container-fluid .row-fluid .span4,
	.sonata-bc .container-fluid .row-fluid .span2,
	.navbar, .nav, .tab-pane, .form-actions, .alert {display:none;}

	.no-invoice-msg{ display: none;}
	
	/* Reglas de impresion para la tarjeta */
  .card_page{
    width: 15cm;
    height: 100%;
    
    border: 1px solid white;
  }

  .card_header{
    border: 1px dotted white;
    min-height: 6.3cm;
  }

  .card_data{
    /*min-height: 7.4cm;*/
    
  }

  .card_to{
    border: 1px dotted white;
    padding-left: 3.5cm;

  }

  .card_message{
    text-align: justify;
    border: 1px dotted white;
    padding-top: .1cm;
    padding-left: 0px;
    min-height: 3.2cm;
    max-height: 3.2cm;
  }

  .card_from{
    border: 1px dotted white;
    padding-top: .1cm;
    padding-left: 2cm;

  }


  .btn-print-card {visibility: hidden;}
  /* Terina la impresion de tarjeta */
  
  	.invoice_page{
  		position: relative;
  		left: -10px;
  		z-index: 1000;
  	}
  	
  	.invoice_page .receptor{
  		padding-right: 5px;
  	}
  	.invoice_page .receptor, .other-details {
  		font-size: 11px;
  	}
  	
	/*OCULTAR CONTENIDO NO REQUERIDO EN LA PANTALLA DE LA FACTURA*/
	.invoice_page .issuing-container { visibility:hidden; }
	.invoice_page .div_header { visibility:hidden; }
	.invoice_page .div_content { border: solid 1px #FFF; }
	.invoice_page .taxes_content { border: solid 1px #FFF; }
	.sonata-bc .editable input { box-shadow: none; }
	
	/*OCULTAR CONTENIDO NO REQUERIDO EN LA PANTALLA DE LA NOTA*/
	.payment-note > div{ visibility:hidden; }
	.payment-note .info-row > div.info,
	.payment-note .totals > div{ visibility:visible;}
	
	.invoice_page thead { visibility: hidden; }
	.invoice_page .taxes_content div > .bold_text { visibility:hidden; }
	
	.hide_template{ display: none; }
	
	.sonata-bc .tab-content > .tab-pane:first-child{ display: none; }
	.sonata-bc .tab-content > .tab-pane:nth-child(2) { display: block; }
}

@media print, screen
{
  * {
      Margin: 0;
      Padding: 0;
      Border: 0;
    }
        
  body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  
  .invoice_page table{
  	width: 100%;
  }
  
  .invoice_page th, td.price{
  	text-align: center;
  }
  
  .invoice_page tbody td.details{
  	padding-left: 15px;
  	text-align: left;
  }
  .invoice_page tbody td:first-child{
  	text-align:left;
  }
  
  .invoice_page .customer-edit-in-place, .invoice_page .customer-select-state{
  	background: #C3D9FF;
  }
  
  .issuing h3{
  	font-size: 13px;
  	line-height: 0px;
  }

  .bold_text, .invoice-iva, .invoice-subtotal{
    font-weight:bold;
  }   

  .div_header{
    height: 14px;
    background-color: #06C !important;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius:  10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -khtml-border-radius: 10px 10px 0px 0px;
    border: 1px solid #06C;
    text-align:center;
    font-weight:bold;
    color: #FFF;
    padding-bottom: 5px;
  }

  .div_content{
    min-height: 28px;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius:  0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -khtml-border-radius: 0px 0px 10px 10px;
    border: 1px solid #06C;
    margin-top: -1px;
    padding: 0px 8px 0px 10px;
    font-weight: bold;
  }
  
  .div_content input{
  	font-weight: bold;
  }

  .remove_corner_bottom_right{
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-radius-bottomright: 0px;
    -khtml-border-radius-bottomrights: 0px;
  }
  
  .editable{
  	padding-top: 0px;
  	height: 34px
  }
  
  .sonata-bc .editable input{
  	border: none;
  	padding: 4px 0px 4px 6px;
  	height: 24px;
  	text-align: center;
  	border-radius:10px;
  }
  
  #invoice_order_products .amount{ width: 7%; }
  #invoice_order_products .unit_price{ width: 15%; }
  #invoice_order_products .import{ width: 15%; }
  
   .td-label{
   	font-weight: bold;
  	text-align:right;
  	padding-right: 20px;
  }
  
  td.space {
  	padding-top: 15px;
  }
  /* -----------------------*/
  .issuing-container{
  	width:100%;
  	height: 100px;
  }
  .issuing-container > div{
  	float:left;
  }
  
  .issuing-container .logo{
  	height: 100px;
  	background: url(../../bundles/inodataflora/img/logo.jpg) no-repeat;
  	width: 35%;
  }
  .issuing-container .issuing{
  	width: 45%;
  }
  .issuing-container .folio-container{
  	width: 20%;
  	padding-top: 30px;
  }
  
  .sub-header{
  	width: 100%;
  	height:120px;
  }
  .sub-header > div, .other-details > div{
  	float: left;
  }
  .sub-header .receptor{
  	width:45%;
  }
  
  .receptor .div_content{
  	height: 95px;
  }
  
  .other-details{ width:54% }
  .other-details .payment-condition{
  	clear:left;
  	width:100%;
  }
  .other-details .expedition { width: 59%;}
  .other-details .date { width: 40%; }
  
  .date .div_content{ text-align: center; }
  
  .items_container{
  	height: 316px;
  }
  .items_container .div_content{
  	height: 290px;
  	padding-top: 3px;
  }
  
  .expedition .div_content{
  	text-align: center;
  }
  
  td.import, td.invoice-discount, td.invoice-shipping{
  	text-align: right;
  }
  
  .sumary_container > div { float:left;}
  .sumary_container .tax_id_card{ width:15%; }
  .sumary_container .totals{ width:85%; }
  
  .totals > div { float: left; }
  .totals .ammount_in_words { width: 69%}
  .totals .taxes { width: 30%}
  .totals .comments{ clear:left; width:100%}
  
  .taxes_content{
    margin-top: -1px;
    padding: 5px 10px 10px 10px;
    border: 1px solid #06C;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius:  0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -khtml-border-radius: 0px 0px 10px 10px;
    height:90px;
  }
  
  .taxes_content > div{
  	width: 100%;
  	padding: 10px 2px 10px 0px;
  }
  
  .taxes_content div > div{
  	width: 50%;
  	float: left;
  	text-align: right;
  }
  
  .taxes_content > div{
  	clear:left;
  }
  
  .invoice-total{
    color: #390;
    font-weight:bold;
  }
  
  .ammount_in_words .div_content{
  	text-align: center;
  }
  
  .payment-condition, .ammount_in_words, .comments, .items_container { 
  	padding-top: 10px;
  }
  
  .ammount_in_words .div_content{ height: 53px; padding-top: 20px;}
  .comments .div_content{height: 63px; padding-top: 10px}
  
  
  .divisor-w {width: 1%; height:2px;}
  
  
  /*---------STYLE FOR PAYMENT NOTE----------*/
  .payment-note > div{
  	border: solid 1px #000;
  	border-radius: 5px;
  	font-size: 11px;
  	font-weight: bold;
  	padding: 0 5px;
  	margin-bottom: 15px;
  }
  
  .payment-note .header{	
  	height: 108px;
  }
  .payment-note .header .info-row{
  	position:relative;
  	top: 67px;
  }
  .payment-note .header .info-row div.no-order{
  	width: 95%;
  	text-align: right;
  	padding-bottom: 20px;
  }
  .payment-note .header .no-order span{
  	font-size: 32px;
  }
  .payment-note .header .info-row div.city-date{
  	width: 95%;
  	text-align: right;
  }
  
  .payment-note .payment-info{
  	height: 108px;
  	padding-top: 2px;
  }
  
  .payment-note .info-row:nth-child(2n){
  	padding-top: 1px;
  }
  
  .payment-note .totals{
  	height: 112px;
  }
  
  .payment-note .shipping-info{
  	height: 50px;
  }
  
  .payment-note .info-row {
   	clear: left;
   }
  .payment-note .info-row > div{
  	float: left;
  	line-height: 15px;
  }
  
  .payment-note .info-row > div:first-child{
  	width: 9%
  }
  
  .payment-note .space-1{
  	min-width: 48%;
  	max-width: 48%;
  }
  
  .payment-note .space-2{
  	min-width: 12%;
  	max-width: 12%;
  	text-align: right;
  }
  
  .payment-note .space-3{
  	min-width: 19%;
  	max-width: 19%;
  }
  
  .payment-note .space-4{
  	min-width: 23.3%;
  	max-width: 23.3%;
  }
  
  .payment-note .space-5{
  	min-width: 5%;
  	max-width: 5%;
  }
  
  .payment-note .space-6{
  	min-width: 62%;
  	max-width: 62%;
  }
  
  .payment-note .info{
  	padding-left: 5px;
  }
  
  .payment-note .totals .products{
  	width: 100%;
  }
  .payment-note .totals table{
  	width: 100%;
  }
  
  .payment-note .totals table .padding{
  	height: 6px;
  }
  
  .payment-note .totals table .note-comments{
  	padding-left: 15px;
  }
  
  .payment-note .totals tbody td:first-child{
  	text-align: center;
  	width: 7%;
  }
  .payment-note .totals table td:nth-child(2){
  	width: 80%;
  }
  .payment-note .totals table td:last-child{
  	width:0%;
  }
  .payment-note .totals table td.import{
  	display: none;
  }
  
  .payment-note .totals tfoot td.shipping{
  	text-align: center;
  }
  
  /******** INOVOICE EDIT IN PLACE *********/
  .invoice_page .customer-edit-in-place form{
  	margin: 0px 0px;
  	padding: 0px 0px;
  }
  
  .invoice_page .customer-edit-in-place input{
  	background: #FFCCCC
  }
}
