/* 
    Created on : Apr 29, 2014, 3:14:22 PM
    Author     : heriberto
*/
@media screen{
    .sonata-ba-collapsed-fields > .control-group:nth-child(1),
    .sonata-ba-collapsed-fields > .control-group:nth-child(2),
    .sonata-ba-collapsed-fields > .control-group:nth-child(3),
    .sonata-ba-collapsed-fields > .control-group:nth-child(6),
    .sonata-ba-collapsed-fields > .control-group:nth-child(7)
    /*.sonata-ba-collapsed-fields > .control-group:nth-child(10)*/
    {
        float: left;
    }
    
    /* AJUSTE DE ESPACION EN LOS MASRGENES*/
    .sonata-ba-collapsed-fields > .control-group:nth-child(1),
    .sonata-ba-collapsed-fields > .control-group:nth-child(2),
    .sonata-ba-collapsed-fields > .control-group:nth-child(3),
    .sonata-ba-collapsed-fields > .control-group:nth-child(4){margin-top: 7px;}
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(5) {margin-bottom: 0px;}
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(6),
    .sonata-ba-collapsed-fields > .control-group:nth-child(7),
    .sonata-ba-collapsed-fields > .control-group:nth-child(8){margin-bottom: 4px;}
    
    .inodata-shipping-address > .control-group:nth-child(1),
    .inodata-shipping-address > .control-group:nth-child(2),
    .inodata-shipping-address > .control-group:nth-child(3),
    .inodata-shipping-address > .control-group:nth-child(4){margin-bottom: 0px;}
    /*TERMINA AJUSTES EN LOS MARGENES*/
    
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(1) > .sonata-ba-field > input{width: 155px;}
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(2) > label{ width: auto; padding-left: 10px; }
    .sonata-ba-collapsed-fields > .control-group:nth-child(2) > .sonata-ba-field{ float: left; margin-left: 5px;}
    .sonata-ba-collapsed-fields > .control-group:nth-child(2) > .sonata-ba-field > input{width: 195px;}
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(3) > label{ width: auto; padding-left: 10px; }
    .sonata-ba-collapsed-fields > .control-group:nth-child(3) > .sonata-ba-field{ float: left; margin-left: 5px;}
    .sonata-ba-collapsed-fields > .control-group:nth-child(3) > .sonata-ba-field > input{width: 218px;}
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(4) > label{ width: auto; padding-left: 10px; }
    .sonata-ba-collapsed-fields > .control-group:nth-child(4) > .sonata-ba-field{ float: left; margin-left: 5px;}
    .sonata-ba-collapsed-fields > .control-group:nth-child(4) > .sonata-ba-field > input{width: 195px;}
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(7) > label{ width: auto; padding-left: 10px; }
    .sonata-ba-collapsed-fields > .control-group:nth-child(7) > .sonata-ba-field{ float: left; margin-left: 5px;}
    .sonata-ba-collapsed-fields > .control-group:nth-child(7) > .sonata-ba-field > input{width: 97px;}
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(8) > label{ width: auto; padding-left: 10px; }
    .sonata-ba-collapsed-fields > .control-group:nth-child(8) > .sonata-ba-field{ float: left; margin-left: 5px;}
    .sonata-ba-collapsed-fields > .control-group:nth-child(8) > .sonata-ba-field > input{width: 150px;}
    
    /*CSS PARA SHIPPING-ADDRESS*/
    .inodata-shipping-address > .control-group:nth-child(1),
    .inodata-shipping-address > .control-group:nth-child(2),
    .inodata-shipping-address > .control-group:nth-child(3),
    .inodata-shipping-address > .control-group:nth-child(4),
    .inodata-shipping-address > .control-group:nth-child(6),
    .inodata-shipping-address > .control-group:nth-child(7),
    .inodata-shipping-address > .control-group:nth-child(8){ float: left; }
    
    .inodata-shipping-address > .control-group:nth-child(1) > .controls > input{width: 155px;}
    
    .inodata-shipping-address > .control-group:nth-child(2) > label{width: auto; padding-left: 10px;}
    .inodata-shipping-address > .control-group:nth-child(2) > .controls{float: left; margin-left: 5px;}
    .inodata-shipping-address > .control-group:nth-child(2) > .controls > input{width: 50px;}
    
    .inodata-shipping-address > .control-group:nth-child(3) > label{width: auto; padding-left: 10px;}
    .inodata-shipping-address > .control-group:nth-child(3) > .controls{float: left; margin-left: 5px;}
    .inodata-shipping-address > .control-group:nth-child(3) > .controls > input{width: 50px;}
    
    .inodata-shipping-address > .control-group:nth-child(4) > label{width: auto; padding-left: 10px;}
    .inodata-shipping-address > .control-group:nth-child(4) > .controls{float: left; margin-left: 5px;}
    .inodata-shipping-address > .control-group:nth-child(4) > .controls > input{width: 160px;}
    
    .inodata-shipping-address > .control-group:nth-child(5) > label{width: auto; padding-left: 10px;}
    .inodata-shipping-address > .control-group:nth-child(5) > .controls{float: left; margin-left: 5px;}
    
    .inodata-shipping-address > .control-group:nth-child(6) > .controls > input{width: 155px;}
    
    .inodata-shipping-address > .control-group:nth-child(7) > label{width: auto; padding-left: 10px;}
    .inodata-shipping-address > .control-group:nth-child(7) > .controls{float: left; margin-left: 5px;}
    
    .inodata-shipping-address > .control-group:nth-child(8) > label{width: auto; padding-left: 10px;}
    .inodata-shipping-address > .control-group:nth-child(8) > .controls{float: left; margin-left: 5px;}
    .inodata-shipping-address > .control-group:nth-child(8) > .controls > input{width: 119px;}
    
    .inodata-shipping-address > .control-group:nth-child(9) > label{width: auto; padding-left: 10px;}
    .inodata-shipping-address > .control-group:nth-child(9) > .controls{float: left; margin-left: 5px;}
    .inodata-shipping-address > .control-group:nth-child(9) > .controls > input{width: 132px;}
    
    /* CSS PARA PAYMENT CONTACT FORM*/
    .payment_contact_form > .control-group:nth-child(1),
    .payment_contact_form > .control-group:nth-child(2),
    .payment_contact_form > .control-group:nth-child(3),
    .payment_contact_form > .control-group:nth-child(4),
    .payment_contact_form > .control-group:nth-child(5)
    {
        float: left;
    }
    
    .payment_contact_form > .control-group:nth-child(3) > label{ width: auto; padding-left: 10px;}
    .payment_contact_form > .control-group:nth-child(3) > .controls{float: left; margin-left: 5px;}
    .payment_contact_form > .control-group:nth-child(3) > .controls > input{width: 65px;}
    
    .payment_contact_form > .control-group:nth-child(4) > label{ width: auto; padding-left: 10px;}
    .payment_contact_form > .control-group:nth-child(4) > .controls{float: left; margin-left: 5px;}
    .payment_contact_form > .control-group:nth-child(4) > .controls > input{width: 95px;}
    
    .payment_contact_form > .control-group:nth-child(5) > label{ width: auto; padding-left: 10px;}
    .payment_contact_form > .control-group:nth-child(5) > .controls{float: left; margin-left: 5px;}
    .payment_contact_form > .control-group:nth-child(5) > .controls > input{width: 50px;}
    
    .payment_contact_form > .control-group:nth-child(6) > label{ width: auto; padding-left: 10px;}
    .payment_contact_form > .control-group:nth-child(6) > .controls{float: left; margin-left: 5px;}
    .payment_contact_form > .control-group:nth-child(6) > .controls > input{width: 175px;}
    
    /*MUEVE LISTA DE MENSAJES Y CKEDITOR*/
    .sonata-ba-collapsed-fields > .control-group:nth-child(10),
    .sonata-ba-collapsed-fields > .control-group:nth-child(11),
    .sonata-ba-collapsed-fields > .control-group:nth-child(13)
    {
        float: left;
    }
    .sonata-ba-collapsed-fields > .control-group:nth-child(10){ position: relative; width: 300px; height: 100px;}
    .sonata-ba-collapsed-fields > .control-group:nth-child(10) > .sonata-ba-field{ float: left; margin-left: 5px; position: absolute; left: 155px; width: 956px; height: 60px;}
    .sonata-ba-collapsed-fields > .control-group:nth-child(10) > .sonata-ba-field .cke_contents{ height: 100px; }
    .sonata-ba-collapsed-fields > .control-group:nth-child(10) > .sonata-ba-field .cke_bottom{ display: none; }
    .sonata-ba-collapsed-fields > .control-group:nth-child(10) > a{position: absolute; left: 975px; width: 110px;}
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(11) > label{ width: auto; padding-left: 10px; position: relative;}
    .sonata-ba-collapsed-fields > .control-group:nth-child(11) > .sonata-ba-field{ float: left; margin-left: 5px; }
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(12) > label{ width: auto; padding-left: 10px; position: relative; }
    .sonata-ba-collapsed-fields > .control-group:nth-child(12) > .sonata-ba-field{ float: left; margin-left: 5px; }
    
    .sonata-ba-collapsed-fields > .control-group:nth-child(14) > label{ width: auto; padding-left: 10px; position: relative; }
    .sonata-ba-collapsed-fields > .control-group:nth-child(14) > .sonata-ba-field{ float: left; margin-left: 5px; }
    
    div.tab-pane {position: relative; overflow: visible;}
    div.create-product-form {position: absolute; width: auto; top: 355px; left: 485px; }
    div.create-product-form .product-code input { width: 50px;}
    div.create-product-form .product-description input { width: 342px; }
    div.create-product-form .product-price input { width: 50px;}
    
    /*ESTILOS PARA LOS FRAMES*/
    div.frame { position: absolute; border: solid 2px #0073ea; width: 97%; margin-left: 20px; z-index: -1; left: 10px;}
    div.frame span { position: relative; top: -10px; color: #003bb3; font-weight: bold; color: #000; background: #FFF; padding: 0 3px; margin: 10px; }
    
    div.frame.order-data{ top: -3px; height: 41px; }
    div.frame.delivery-address{ top: 50px; height: 77px; }
    div.customer-data{ top: 141px; height: 77px; }
    div.message-data{ top: 234px; height: 107px; }
    div.products_to_order{ top: 356px; height: 325px; margin-left: 0px; left: 0px; width: 99.7%}
    
}