/*
Version: 3.3.2 Timestamp: Mon Mar 25 12:14:18 PDT 2013
*/
.select2-container {
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input{
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box; /* webkit */
   -khtml-box-sizing: border-box; /* konqueror */
     -moz-box-sizing: border-box; /* firefox */
      -ms-box-sizing: border-box; /* ie */
          box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;

    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;

    -webkit-border-radius:0 0 4px 4px;
       -moz-border-radius:0 0 4px 4px;
            border-radius:0 0 4px 4px;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 90%);
}

.select2-container .select2-choice span {
    margin-right: 26px;
    display: block;
    overflow: hidden;

    white-space: nowrap;

    -ms-text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
}

.select2-container .select2-choice abbr {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 26px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('../../bundles/inodataflora/img/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}
.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* works in IE 8 */
        filter: "alpha(opacity=0)"; /* expected to work in IE 8 */
        filter: alpha(opacity=0); /* IE 4-7 */
}

.select2-drop {
    width: 100%;
    margin-top:-1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-container .select2-choice div {
    display: block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    border-left: 1px solid #aaa;
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
    background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
}

.select2-container .select2-choice div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../../bundles/inodataflora/img/select2.png') no-repeat 0 1px;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-search-hidden {
    display: block;
    position: absolute;
    left: -10000px;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    background: #fff url('../../bundles/inodataflora/img/select2.png') no-repeat 100% -22px;
    background: url('../../bundles/inodataflora/img/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../../bundles/inodataflora/img/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../../bundles/inodataflora/img/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../../bundles/inodataflora/img/select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../../bundles/inodataflora/img/select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../../bundles/inodataflora/img/select2.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100%;
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
       -moz-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 0 #fff inset;

    -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;

    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
}

.select2-dropdown-open .select2-choice div {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice div b {
    background-position: -18px 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.select2-results ul.select2-result-sub {
    margin: 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: white;
    color: #000;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none
}


/* multiselect */

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;

    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
            box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;

    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
       -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
            box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}
.select2-container-multi .select2-choices .select2-search-choice span {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;

    font-size: 1px;
    outline: none;
    background: url('../../bundles/inodataflora/img/select2.png') right top no-repeat;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices{
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
}
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
      background-image: url('../../bundles/inodataflora/img/select2x2.png') !important;
      background-repeat: no-repeat !important;
      background-size: 60px 40px !important;
  }
  .select2-search input {
      background-position: 100% -21px !important;
  }
}

@media screen, projection {
  div.list-products-content{ width:100%;}
  div.list-products-content .table-1 {float:left; width:80%;}
  div.list-products-content .table-2 { float:right; width: 20%;}
  
  .create-product-form{
  	width: 80%;
  }
  .create-product-form > div {
  	float: left;
  	padding: 0 5px 5px 0;
  }
  .create-product-form .product-code input{
  	width: 70px;
  }
  .create-product-form .product-description input{
  	width: 400px;
  }
  .create-product-form .product-price input{
  	width: 70px;
  }
  
  .sonata-ba-collapsed-fields > .control-group:nth-child(13),
  .sonata-ba-collapsed-fields > .control-group:nth-child(14){
  	float: left;
  	width: 50%;
  }
  
  .invoice_page .editable, .sonata-bc .invoice_page .editable input{
  	background: #FFCCCC;
  }
  
  #order-invoice-print {display: none;}
  .original_string, .digital_stamp, .footer_container{display:none;}
  
 .payment-note, .card_page { display: none; }
}

@media print
{
	*{ background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	body.sonata-bc { padding: 0px; }
	p, h2, h3 { orphans: 3; widows: 3; }
  	h2, h3 { page-break-after: avoid; }
	
	.divisor, .original_string, .digital_stamp, .footer_container{display:none;}
	.sonata-bc .container-fluid .row-fluid .span6, 
	.sonata-bc .container-fluid .row-fluid .span4,
	.sonata-bc .container-fluid .row-fluid .span2,
	.navbar, .nav, .tab-pane, .form-actions, .alert {display:none;}

	.no-invoice-msg{ display: none;}
	
	/* Reglas de impresion para la tarjeta */
  .card_page{
    width: 15cm;
    height: 100%;
    
    border: 1px solid white;
  }

  .card_header{
    border: 1px dotted white;
    min-height: 6.3cm;
  }

  .card_data{
    /*min-height: 7.4cm;*/
    
  }

  .card_to{
    border: 1px dotted white;
    padding-left: 3.5cm;

  }

  .card_message{
    text-align: justify;
    border: 1px dotted white;
    padding-top: .1cm;
    padding-left: 0px;
    min-height: 3.2cm;
    max-height: 3.2cm;
  }

  .card_from{
    border: 1px dotted white;
    padding-top: .1cm;
    padding-left: 2cm;

  }


  .btn-print-card {visibility: hidden;}
  /* Terina la impresion de tarjeta */

	/*OCULTAR CONTENIDO NO REQUERIDO EN LA PANTALLA DE LA FACTURA*/
	.invoice_page .issuing-container { visibility:hidden; }
	.invoice_page .div_header { visibility:hidden; }
	.invoice_page .div_content { border: solid 1px #FFF; }
	.invoice_page .taxes_content { border: solid 1px #FFF; }
	.sonata-bc .editable input { box-shadow: none; }
	
	/*OCULTAR CONTENIDO NO REQUERIDO EN LA PANTALLA DE LA NOTA*/
	.payment-note > div{ visibility:hidden; }
	.payment-note .info-row > div.info,
	.payment-note .totals > div{ visibility:visible;}
	
	.invoice_page thead { visibility: hidden; }
	.invoice_page .taxes_content div > .bold_text { visibility:hidden; }
	
	.hide_template{ display: none; }
	
	.sonata-bc .tab-content > .tab-pane:first-child{ display: none; }
	.sonata-bc .tab-content > .tab-pane:nth-child(2) { display: block; }
}

@media print, screen
{
  * {
      Margin: 0;
      Padding: 0;
      Border: 0;
    }
        
  body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  
  .invoice_page table{
  	width: 100%;
  }
  
  .invoice_page th, td.price{
  	text-align: center;
  }
  
  .invoice_page tbody td.details{
  	padding-left: 15px;
  	text-align: left;
  }
  .invoice_page tbody td:first-child{
  	text-align:left;
  }
  
  .invoice_page .customer-edit-in-place, .invoice_page .customer-select-state{
  	background: #C3D9FF;
  }
  
  .issuing h3{
  	font-size: 13px;
  	line-height: 0px;
  }

  .bold_text, .invoice-iva, .invoice-subtotal{
    font-weight:bold;
  }   

  .div_header{
    height: 14px;
    background-color: #06C !important;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius:  10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -khtml-border-radius: 10px 10px 0px 0px;
    border: 1px solid #06C;
    text-align:center;
    font-weight:bold;
    color: #FFF;
    padding-bottom: 5px;
  }

  .div_content{
    min-height: 28px;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius:  0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -khtml-border-radius: 0px 0px 10px 10px;
    border: 1px solid #06C;
    margin-top: -1px;
    padding: 0px 8px 0px 10px;
    font-weight: bold;
  }
  
  .div_content input{
  	font-weight: bold;
  }

  .remove_corner_bottom_right{
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-radius-bottomright: 0px;
    -khtml-border-radius-bottomrights: 0px;
  }
  
  .editable{
  	padding-top: 0px;
  	height: 34px
  }
  
  .sonata-bc .editable input{
  	border: none;
  	padding: 4px 0px 4px 6px;
  	height: 24px;
  	text-align: center;
  	border-radius:10px;
  }
  
  #invoice_order_products .amount{ width: 7%; }
  #invoice_order_products .unit_price{ width: 15%; }
  #invoice_order_products .import{ width: 15%; }
  
   .td-label{
   	font-weight: bold;
  	text-align:right;
  	padding-right: 20px;
  }
  
  td.space {
  	padding-top: 15px;
  }
  /* -----------------------*/
  .issuing-container{
  	width:100%;
  	height: 115px;
  }
  .issuing-container > div{
  	float:left;
  }
  
  .issuing-container .logo{
  	height: 70px;
  	background: url(../../bundles/inodataflora/img/logo.jpg) no-repeat;
  	width: 35%;
  }
  .issuing-container .issuing{
  	width: 45%;
  }
  .issuing-container .folio-container{
  	width: 20%;
  	padding-top: 30px;
  }
  
  .sub-header{
  	width: 100%;
  	height:120px;
  }
  .sub-header > div, .other-details > div{
  	float: left;
  }
  .sub-header .receptor{
  	width:45%;
  }
  
  .receptor .div_content{
  	height: 95px;
  }
  
  .other-details{ width:54% }
  .other-details .payment-condition{
  	clear:left;
  	width:100%;
  }
  .other-details .expedition { width: 59%;}
  .other-details .date { width: 40%; }
  
  .date .div_content{ text-align: center; }
  
  .items_container{
  	height: 316px;
  }
  .items_container .div_content{
  	height: 290px;
  	padding-top: 3px;
  }
  
  td.import, td.invoice-discount, td.invoice-shipping{
  	text-align: right;
  }
  
  .sumary_container > div { float:left;}
  .sumary_container .tax_id_card{ width:15%; }
  .sumary_container .totals{ width:85%; }
  
  .totals > div { float: left; }
  .totals .ammount_in_words { width: 69%}
  .totals .taxes { width: 30%}
  .totals .comments{ clear:left; width:100%}
  
  .taxes_content{
    margin-top: -1px;
    padding: 5px 10px 10px 10px;
    border: 1px solid #06C;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius:  0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -khtml-border-radius: 0px 0px 10px 10px;
    height:90px;
  }
  
  .taxes_content > div{
  	width: 100%;
  	padding: 10px 2px 10px 0px;
  }
  
  .taxes_content div > div{
  	width: 50%;
  	float: left;
  	text-align: right;
  }
  
  .taxes_content > div{
  	clear:left;
  }
  
  .invoice-total{
    color: #390;
    font-weight:bold;
  }
  
  .ammount_in_words .div_content{
  	text-align: center;
  }
  
  .payment-condition, .ammount_in_words, .comments, .items_container { 
  	padding-top: 10px;
  }
  
  .ammount_in_words .div_content{ height: 53px; padding-top: 20px;}
  .comments .div_content{height: 63px; padding-top: 10px}
  
  
  .divisor-w {width: 1%; height:2px;}
  
  
  /*---------STYLE FOR PAYMENT NOTE----------*/
  .payment-note > div{
  	border: solid 1px #000;
  	border-radius: 5px;
  	font-size: 11px;
  	font-weight: bold;
  	padding: 0 5px;
  	margin-bottom: 15px;
  }
  
  .payment-note .header{	
  	height: 108px;
  }
  .payment-note .header .info-row{
  	position:relative;
  	top: 67px;
  }
  .payment-note .header .info-row div.no-order{
  	width: 95%;
  	text-align: right;
  	padding-bottom: 20px;
  }
  .payment-note .header .no-order span{
  	font-size: 32px;
  }
  .payment-note .header .info-row div.city-date{
  	width: 95%;
  	text-align: right;
  }
  
  .payment-note .payment-info{
  	height: 108px;
  	padding-top: 2px;
  }
  
  .payment-note .info-row:nth-child(2n){
  	padding-top: 1px;
  }
  
  .payment-note .totals{
  	height: 112px;
  }
  
  .payment-note .shipping-info{
  	height: 50px;
  }
  
  .payment-note .info-row {
   	clear: left;
   }
  .payment-note .info-row > div{
  	float: left;
  	line-height: 15px;
  }
  
  .payment-note .info-row > div:first-child{
  	width: 9%
  }
  
  .payment-note .space-1{
  	min-width: 48%;
  	max-width: 48%;
  }
  
  .payment-note .space-2{
  	min-width: 12%;
  	max-width: 12%;
  	text-align: right;
  }
  
  .payment-note .space-3{
  	min-width: 19%;
  	max-width: 19%;
  }
  
  .payment-note .space-4{
  	min-width: 23.3%;
  	max-width: 23.3%;
  }
  
  .payment-note .space-5{
  	min-width: 5%;
  	max-width: 5%;
  }
  
  .payment-note .space-6{
  	min-width: 62%;
  	max-width: 62%;
  }
  
  .payment-note .info{
  	padding-left: 5px;
  }
  
  .payment-note .totals .products{
  	width: 100%;
  }
  .payment-note .totals table{
  	width: 100%;
  }
  
  .payment-note .totals table .padding{
  	height: 6px;
  }
  
  .payment-note .totals table .note-comments{
  	padding-left: 15px;
  }
  
  .payment-note .totals tbody td:first-child{
  	text-align: center;
  	width: 7%;
  }
  .payment-note .totals table td:nth-child(2){
  	width: 80%;
  }
  .payment-note .totals table td:last-child{
  	width:0%;
  }
  .payment-note .totals table td.import{
  	display: none;
  }
  
  .payment-note .totals tfoot td.shipping{
  	text-align: center;
  }
  
  /******** INOVOICE EDIT IN PLACE *********/
  .invoice_page .customer-edit-in-place form{
  	margin: 0px 0px;
  	padding: 0px 0px;
  }
  
  .invoice_page .customer-edit-in-place input{
  	background: #FFCCCC
  }
}

@media print {
	
	body {
		padding: 10%;
	}
	
	.page-break	{ display: block; page-break-before: always; }
	
	.print_table {
	
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		color: #404040;
		
		width: 100%;
		margin-bottom: 20px;
		
		max-width: 100%;
		background-color: transparent;
		border-spacing: 0;
		
		margin: 0;
		padding: 0;
		border: solid 1px black;
		
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		color: #404040;
	}
	
	.print_table thead {
		vertical-align: middle;
	}
	
	.print_table td {	
		vertical-align: middle;
		border: solid 1px black;
		padding: 0;
		margin: 0;
	}
	
	.logo{
	  	height: 70px;
	  	#background: url(../../bundles/inodataflora/img/logo.jpg) no-repeat;
	  	width: 35%;
  	}
}

@media screen{
	
	/* STYLE FOR EDIT IN PLACE ON DISTRIBUTIONS TABS*/ 
	.st_tabs_ul li p{
		float: left;
		margin: 0;
		padding-left: 4px;
		height: 15px;
		color: inherit;
		font-family: Arial,Helvetica,sans-serif;
		font-weight: bold;
	}
	.st_tabs_ul li p.new-line{
		clear:left;
	}
	
	.st_tabs_ul li a > div{
		position:relative;
		top: -7px;
	}
	.st_tabs_ul li > div{
		position:relative;
		top: -41px;
		padding: 0 22px;
	}
	.st_tabs_ul li.st_li_active > div p{
		color: #0088cc;
	}
	
	.st_tabs_ul li > div {
		visibility: hidden;
	}
	.st_tabs_ul li.st_li_active > div{
		visibility: visible;
	}
	.st_tabs_ul li.st_li_active a > div{
		visibility: hidden;
	}
	/* ---------------------------------- */
	
	/*--------- CONTENT HEADER----------- */
	.inner-filters{width: 100%; height: 10px;}
	.inner-filters > div{
		float:left;
		padding-left: 10px;
	}
	
	.inner-filters .sonata-ba-field{
		width:25%;
	}
	div#s2id_inodata_distribution_type_form_id{
		width: 100%;
	}
	
	.sonata-ba-field #s2id_inodata_distribution_type_form_id .select2-choice > span{
		color: #444;
	}
	.select2-results li div{
		color: #000;
	}
	.select2-results li.select2-highlighted div{
		color: #FFF;
	}
	
	.boxes, .lamps{
		position: relative;
		padding-left: 0px; 
	}
	
	.boxes .num-boxes{
		position: absolute;
		background: url("../../../bundles/inodataflora/img/box.png") no-repeat;
		background-size: 100%;
		width: 65px;
		height: 60px;
		top: -30px;
		left: 25px;
		font-size: 45px;
		font-weight: bold;
		line-height: 45px;
		color: #444;
		text-align: center;
		z-index: -1;
	}
	.boxes > div, .lamps > div {
		float: left;
	}
	.boxes > div a, .lamps > div a{
		font-size: 50px;
		padding: 0 11px;
		height: 100%;
	}
	
	.lamps .num-lamps {
		position: absolute;
		background: url("../../../bundles/inodataflora/img/lamp.png") no-repeat;
		background-size: 100%;
		width: 65px;
		height: 60px;
		top: -30px;
		left: 25px;
		font-size: 45px;
		font-weight: bold;
		line-height: 45px;
		color: #444;
		text-align: center;
		z-index: -1;
	}
	
	.in-transit, .is-delivered{
		position: relative;
		width: 70px;
		height: 30px;
		top: -6px;
		padding-left: 20px;
	}
	.in-transit > div, .is-delivered > div{
		position: relative;
		color: #444;
		font-weight: bold;
		width: 100%;
		text-align: center;
		
	}
	.in-transit > div:first-child, .is-delivered > div:first-child{
		top: -10px;
		font-size: 45px;
	}
	/*----------------------------------------*/
	
	/*------Change color of order status------*/
	td.order-delivered{
		font-weight: bold;
		color: #00B945;
	}
	td.order-intransit{
		#font-weight: bold;
		color: #0088CC;
	}
}


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{ margin:0;padding:0;border:0;outline:0;font-size:100%;color:#797979;vertical-align:baseline;background:transparent}*:focus{outline:0}html{overflow-x:hidden;padding:0 !important;margin:0 !important}ol,ul{ list-style:none}a{text-decoration:none}body{font:normal 100% Arial,Verdana,Sans-Serif;color:#333;background:#FFF}.clearfix:after{content:".";visibility:hidden;display:block;clear:both;height:0;font-size:0}.clear{clear:both}.black-border{position:absolute;left:0;top:0;width:50%;height:3px;z-index:200;background-color:#282828}.orange-border{position:absolute;right:0;top:0;width:50%;height:3px;z-index:200;background-color:#5ea600}header{display:block;clear:both;position:relative;width:100%}header .container{clear:both;max-width:960px;height:50px;margin:0 auto;padding:20px}header .logo{float:left;width:162px;height:24px;margin-top:14px}header nav{float:right;padding-top:17px}header nav ul{display:block}header nav ul li{float:left;left:0;display:block;position:relative;cursor:pointer;list-style:none;font-family:"PT Sans",Georgia,Arial;font-size:16px;font-weight:700;line-height:16px;text-align:center;text-transform:uppercase}header nav ul li a{height:100%;padding:0px 12px;display:block;text-align:center;cursor:pointer;color:#c0c0c0}header nav ul li:last-child a{padding-right:0}header nav ul li a{-moz-transition:color 0.2s linear;-o-transition:color 0.2s linear;-ms-transition:color 0.2s linear;-webkit-transition:color 0.2s linear;transition:color 0.2s linear}header nav ul li a:hover,header nav ul li a.active{color:#5ea600}.dark-wrapper{    background:#f9f9f9 url(../images/preview/bg.gif); border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7}.light-wrapper{ background:#fff}.inner{ max-width:960px; margin:0 auto;padding:40px 20px}h2{clear:both;font-family:"PT Sans",Georgia,Arial;font-size:20px;font-weight:700;line-height:20px;margin-bottom:25px;color:#5ea600}div#examples{position:relative}div#examples div.spinner{display:none;position:absolute;top:50%;left:50%;width:66px;height:66px;margin:-59px 0 0 -59px;padding:25px;background:#fff url(../images/preview/spinner.gif) no-repeat 50% 50%;border:1px solid #d9d9d9;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}span#st_spinner{position:absolute;top:50%;left:50%;z-index:1000;text-indent:-999em;width:66px;height:66px;margin:-38px 0 0 -59px;padding:25px;background:#fff url(../images/preview/spinner.gif) no-repeat 50% 50%;border:1px solid #e3e3e3;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}div#demo_controls{position:relative;clear:both;width:100%;height:65px}div#demo_controls h2{display:block;margin:0}div#demo_controls h2#examples_btn{cursor:pointer}div#demo_controls h2 a{display:block;float:left;padding-top:8px;color:#5ea600;text-transform:uppercase}div#demo_controls h2 a:hover{text-decoration:none;color:#939393}div#demo_controls h2 span{display:block;float:left;width:50px;height:37px;margin-left:13px;border-left:1px dotted #bcbcbc;background:url(../images/preview/sprite.png) no-repeat 14px -22px}div#demo_controls ul.demo_btns{position:relative;float:right;-webkit-border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-bottomleft:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px}div#demo_controls ul.demo_btns li{float:left}div#demo_controls ul.demo_btns li a{display:block;width:34px;height:34px;text-indent:-999em;border:1px solid #ccc;border-right:0 none;border-top-color:#ccc;border-right-color:#c3c3c3;border-bottom-color:#acacac;background:#fff url(../images/preview/sprite.png) no-repeat}div#demo_controls ul.demo_btns li a#add_tab_btn{-webkit-border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-bottom-left-radius:3px;background-position:0 -92px}div#demo_controls ul.demo_btns li a#remove_tab_btn{background-position:0 -129px}div#demo_controls ul.demo_btns li a#settings_btn{border-right:1px solid #c3c3c3;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;background-position:0 -166px}div#demo_controls ul.demo_btns li a.btn_disabled{ cursor:default;-moz-opacity:.50;filter:alpha(opacity=50);opacity:.50}div#demo_btns_overlay{display:none;position:absolute;z-index:2;top:0px;left:-1px;width:71px;height:38px;background:#f7f7f7;-moz-opacity:.40;filter:alpha(opacity=40);opacity:0.4}div#btn_tooltip{display:none;position:absolute;max-width:100px;text-align:center;z-index:10000;opacity:0.85;filter:alpha(opacity=85)}div#btn_tooltip p{font-size:11px;line-height:normal;color:#fff;padding:8px;background-color:#000;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}div#btn_tooltip div.tt_arrow{width:0px;height:0px;margin:0px auto; border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000; _border-left-color:white; _border-right-color:white; _filter:chroma(color=white)}div#demo_controls div.arrow_border,div#demo_controls div.arrow{position:absolute;width:0px;height:0px}div#demo_controls ul#demo_dropdown div.arrow_border,div#demo_controls ul#demo_dropdown div.arrow{left:10px}div#demo_controls div.arrow_border{top:-15px;right:10px;border:8px outset transparent; border-bottom:#999 8px solid}div#demo_controls div.arrow{top:-14px;right:10px;border:8px outset transparent;border-bottom:#fafafa 8px solid}ul#demo_dropdown,ul#demo_settings{display:none;position:absolute;z-index:999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-shadow:0 0 4px rgba(0,0,0,0.11)}ul#demo_dropdown{width:230px;top:41px;left:0px}ul#demo_dropdown li a{display:block;font-size:12px;color:#707070;padding:11px 0 11px 16px;border:1px solid;border-color:#e1e1e1 #D2D2D2 #e3e3e3 #D2D2D2;border-bottom:0 none;background:#fff}ul#demo_dropdown li a:hover,ul#demo_dropdown li a.selected{color:#333;background:#fafafa;text-decoration:none}ul#demo_dropdown li a.selected{font-weight:bold}ul#demo_dropdown li a.disabled,ul#demo_dropdown li a.disabled em{color:#aaa;cursor:text}ul#demo_dropdown li a.disabled:hover{background:#fff}ul#demo_dropdown li a.disabled em{font-style:italic}ul#demo_dropdown li a.first,ul#demo_settings li.first{border-top-color:#D2D2D2;-webkit-border-top-right-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-topleft:3px;border-top-right-radius:3px;border-top-left-radius:3px}ul#demo_dropdown li a.selected{background:#fafafa url(../images/preview/sprite.png) no-repeat 198px -46px}ul#demo_dropdown li a.last,ul#demo_settings li.last{border-bottom:1px solid #313131;-webkit-border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-bottomleft:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px}ul#demo_settings{top:39px;right:0px;width:233px}ul#demo_settings li{float:left;width:199px;padding:9px 16px 7px;border:1px solid #d2d2d2;border-top-color:#e3e3e3;border-bottom:0 none;background:#fff}ul#demo_settings li.first,ul#demo_settings li.title,ul#demo_settings li.last{padding:11px 16px 10px}ul#demo_settings li.title{background:#fafafa;box-shadow:none;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:bold;line-height:20px;color:#333}ul#demo_settings li ul{float:left;padding-bottom:3px}ul#demo_settings li ul li{float:left;width:auto;margin-right:12px;padding:0px;border:0 none}ul#demo_settings label{display:block;float:left;line-height:14px;cursor:pointer}ul#demo_settings li input[type=radio]{margin-top:2px}ul#demo_settings label em{font-size:12px;font-style:normal;padding-left:2px}ul#demo_settings input{float:left;margin:0px;padding:0px;cursor:pointer}ul#demo_settings select{width:198px;margin-bottom:4px;padding:2px;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}ul#demo_settings div.selector{margin-bottom:6px}ul#demo_settings h3{clear:both;padding-bottom:5px;font-size:12px;font-weight:normal;color:#585858}ul#demo_settings a#settings_save_btn{display:block;width:197px;margin:4px 0 5px;padding:8px 0px;font-weight:bold;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}.btn_gray{font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#3f3f3f;text-shadow:none;border:1px solid #ccc;border-bottom-color:#acacac;background:#fff;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#F3F3F3),to(#FFF));background:-webkit-linear-gradient(top,#FFF,#F3F3F3);background:-moz-linear-gradient(top,#FFF,#F3F3F3);background:-ms-linear-gradient(top,#FFF,#F3F3F3);background:-o-linear-gradient(top,#FFF,#F3F3F3);background:linear-gradient(top,#FFF,#F3F3F3);box-shadow:0 0 4px rgba(0,0,0,0.03)}.btn_gray:hover{color:#333;border-color:#bbb;border-bottom-color:#999;background:#fff;background:-moz-linear-gradient(top,#FFF,#F9F9F9);text-decoration:none;box-shadow:0 0 4px rgba(0,0,0,0.13)}body.is_touch #demo_dropdown,body.is_touch #demo_settings{-webkit-transform:translate3d(0px,0px,0px)}div#demo{width:100%}div#demo.hide{visibility:hidden}div#demo div.st_view{font-size:12px;color:#888;line-height:22px}div#demo div.align_left div.st_view,div#demo div.align_right div.st_view{line-height:21px}div#demo div.st_view_inner{padding:33px 35px 35px}div#demo h3{font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:bold;color:#999;margin-bottom:18px}div#demo div.align_left h3,div#demo div.align_right h3{margin-bottom:18px}div#demo div.st_view p{margin-bottom:20px}div#demo div.clean_rounded-horizontal div.st_view p,div#demo div.spaced-horizontal div.st_view p{margin-bottom:18px}div#demo div.st_view p.last{margin-bottom:0 !important}div#demo div.st_view blockquote{    float:left;width:43%;    margin:9px 10px 0 0;    padding-left:40px;    font:16px/24px Helvetica,Arial,sans-serif;color:#aaa;background:transparent url(../images/preview/quotes.gif) no-repeat 0 4px}div#external_linking{width:100%}div#external_links{width:100%;height:65px;padding-top:5px}div#external_links p{display:inline-block}div#external_links p.right{float:right}div#external_links p span{font-size:12px}div#external_links p span.alt{display:none}div#external_links a,div#demo div.separated_3 >div.st_views div.st_view a.st_ext{display:inline-block;line-height:12px;margin-left:7px;padding:8px 10px;border-radius:3px}div#demo div.separated_3-horizontal >div.st_tabs ul li a{padding-right:34px;padding-left:34px}div.contrast-vertical ul.st_tabs_ul li a{text-indent:52px !important}div.contrast-vertical a.st_tab span.st_icon{display:block;position:absolute;top:0;left:0;width:50px;height:50px;opacity:0.5;background:url(../images/preview/sprite.png) no-repeat 0px 0px transparent}div.contrast-vertical a.st_tab:hover span.st_icon,div.contrast-vertical a.st_tab_active span.st_icon{opacity:1}div.contrast-vertical a.st_tab_1 span.st_icon{background-position:16px -208px}div.contrast-vertical a.st_tab_2 span.st_icon{background-position:16px -242px}div.contrast-vertical a.st_tab_3 span.st_icon{background-position:16px -280px}div.contrast-vertical a.st_tab_4 span.st_icon{background-position:16px -315px}div.contrast-vertical a.st_tab_5 span.st_icon{background-position:16px -350px}div.slidingtabs_nested >div.st_tabs ul li a{padding:0 30px !important;color:#676767 !important;background:#fcfcfc !important;background:-moz-linear-gradient(center top,#fff,#fcfcfc)!important}div.slidingtabs_nested >div.st_tabs ul li a.st_tab_active{padding-bottom:2px !important;color:#000 !important;background:#f3f3f3 !important}div.slidingtabs_nested >div.st_views{height:auto}div.slidingtabs_nested >div.st_views div.st_view_inner{padding:0px !important}div.slidingtabs_nested div.separated_2-horizontal div.st_tabs{width:auto !important;height:38px !important;margin-bottom:0 !important;padding:14px 14px 13px !important;border-radius:0 !important;background:#f3f3f3 !important;background:-moz-linear-gradient(center top,#f3f3f3,#f1f1f1) !important}div.slidingtabs_nested div.separated_2-horizontal ul.st_tabs_ul li a{    font:bold 12px/36px Arial,Helvetica,sans-serif !important; height:36px !important; margin:0 3px 0 0 !important; padding:0 15px !important;border-radius:4px !important}div.slidingtabs_nested div.separated_2-horizontal div.st_views{height:340px !important;border-right:0 none !important;border-bottom:0 none !important;border-left:0 none !important;border-radius:0 !important}div.slidingtabs_nested div.separated_2-horizontal div.st_view_inner{padding:27px !important}.totop{display:none;position:fixed;right:30px;bottom:20px}.gototop{height:41px;width:41px;z-index:9;cursor:pointer;text-align:center;background-color:#000;-webkit-border-radius:90px;-khtml-border-radius:90px;-moz-border-radius:90px;-o-border-radius:90px;border-radius:90px;overflow:hidden; -webkit-transition:all 200ms ease-in;    -o-transition:all 200ms ease-in;    -moz-transition:all 200ms ease-in}.arrowgototop{background:url(../images/preview/go-to-top-arrow.png) no-repeat;position:relative;left:14px;top:16px;width:24px;height:90px;z-index:10}.gototop:hover{background-color:#5ea600}.list{float:left;width:48%;margin:0;margin-right:2%}.list li{background:#fff url(../images/preview/sprite.png) no-repeat 0px -47px;margin:0 0 20px 0;padding:0 0 0 20px;font-size:12px}.list strong{display:block;font-size:14px;margin:0 0 3px 0;font-family:"PT Sans",Georgia,Arial;font-weight:700;text-transform:uppercase;color:#5c524b}.list span{display:block}@media only screen and (min-width:0px) and (max-width:767px){header .container{height:70px}header .logo{clear:both}header .logo img{width:150px}header nav{float:none;clear:both;padding-top:5px}header nav ul li a{padding:0px 8px}header nav ul li:first-child a{padding-left:0}.main{background-image:none;padding:20px 0px}.list{clear:both;width:100%;margin:0}}@media only screen and (min-width:480px) and (max-width:767px){header nav ul li{font-size:14px;line-height:14px}.inner{padding:30px 20px}.nav li{font-size:15px}.nav li a{padding:4px 18px}h2{font-size:18px;line-height:18px}.list strong{font-size:13px}div#demo div.st_view_inner{padding:25px 27px 27px}div#demo div.st_view_inner blockquote,div#demo div.st_view_inner p.last{display:none}}@media only screen and (min-width:0px) and (max-width:479px){header nav ul li{font-size:13px;line-height:13px}.inner{padding:20px}.nav li{font-size:14px}.nav li a{padding:3px 14px}h2{font-size:16px;line-height:16px}.list li{font-size:11px}.list strong{font-size:12px}div#demo_controls{height:110px}div#demo_controls ul.demo_btns{clear:both;float:none}div#demo div.st_view_inner{padding:20px 22px 22px}div#demo div.st_view_inner blockquote,div#demo div.st_view_inner p.second,div#demo div.st_view_inner p.last{display:none}}
div.clean_rounded-horizontal{position:relative;clear:both;width:100%}div.clean_rounded-horizontal >div.st_tabs a.st_prev,div.clean_rounded-horizontal >div.st_tabs a.st_next{display:none;position:absolute;top:0px;z-index:110;height:43px;width:43px;text-indent:-999em;border:1px solid #ccc;outline:none;background:#fff url("../../../bundles/inodataflora/img/arrows_h.gif") no-repeat}div.clean_rounded-horizontal >div.st_tabs a.st_prev{left:0px;background-position:center 15px;border-top-left-radius:5px}div.clean_rounded-horizontal >div.st_tabs a.st_prev:hover{background-position:center -45px;background-color:#f8f8f8}div.clean_rounded-horizontal >div.st_tabs a.st_next{right:0px;background-position:center -15px;border-top-right-radius:5px}div.clean_rounded-horizontal >div.st_tabs a.st_next:hover{background-position:center -75px;background-color:#f8f8f8}div.clean_rounded-horizontal >div.st_tabs a.st_prev.st_btn_disabled,div.clean_rounded-horizontal >div.st_tabs a.st_next.st_btn_disabled{cursor:default;background-color:#f8f8f8}div.clean_rounded-horizontal >div.st_tabs a.st_prev.st_btn_disabled{background-position:center -105px}div.clean_rounded-horizontal >div.st_tabs a.st_next.st_btn_disabled{background-position:center -135px}div.clean_rounded-horizontal >div.st_tabs{position:relative;z-index:100;width:100% !important;height:45px;margin-bottom:-1px;overflow:hidden}div.clean_rounded-horizontal.st_sliding_active >div.st_tabs{border-top-left-radius:5px;border-top-right-radius:5px;overflow:visible}div.clean_rounded-horizontal >div.st_tabs div.st_tabs_wrap{position:relative !important;width:100%}div.clean_rounded-horizontal.st_sliding_active >div.st_tabs div.st_tabs_wrap{width:auto !important;margin:0px 44px}div.clean_rounded-horizontal >div.st_tabs ul{width:10000px;margin:0px;padding:0px;list-style:none}div.clean_rounded-horizontal >div.st_tabs ul li{display:block;float:left;margin:0px}div.clean_rounded-horizontal >div.st_tabs ul li a{display:block;height:43px;margin:0px;padding:0 28px;font:bold 12px/43px Arial,Helvetica,sans-serif;color:#6a6a6a;text-decoration:none;outline:none;border-top:1px solid #ccc;border-right:1px solid #ccc;background:#f8f8f8;background:-moz-linear-gradient(center top,#fbfbfb,#f8f8f8)}div.clean_rounded-horizontal >div.st_tabs ul li a:hover{color:#333;background:#fbfbfb}div.clean_rounded-horizontal >div.st_tabs ul li a.st_tab_first{border-left:1px solid #ccc;border-top-left-radius:5px}div.clean_rounded-horizontal.st_sliding_active >div.st_tabs ul li a.st_tab_first{border-left:0 none;border-top-left-radius:0px}div.clean_rounded-horizontal >div.st_tabs ul li a.st_tab_last{border-top-right-radius:5px}div.clean_rounded-horizontal.st_sliding_active >div.st_tabs ul li a.st_tab_last{border-right:0 none;border-top-right-radius:0px}div.clean_rounded-horizontal >div.st_tabs ul li a.st_tab_active{padding-bottom:2px;background:#fff;color:#0088cc}div.clean_rounded-horizontal >div.st_views{position:relative;height:390px;padding:0px !important;line-height:19px;border:1px solid #ccc;background-color:#fff;overflow:hidden;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px}div.clean_rounded-horizontal.st_sliding_active >div.st_views{border-top-right-radius:0px}div.clean_rounded-horizontal >div.st_views div.st_view{z-index:5;width:100%;height:100%;overflow:hidden;background-image:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;background-repeat:no-repeat !important;background-position:center center !important;background-color:transparent !important;-webkit-font-smoothing:antialiased}div.clean_rounded-horizontal >div.st_views div.st_view_inner{padding:30px}div.clean_rounded-horizontal >div.st_views div.st_view_first{display:block}div.clean_rounded-horizontal.align_bottom{margin-bottom:44px}div.clean_rounded-horizontal.align_bottom >div.st_tabs a.st_prev{border-bottom-left-radius:5px}div.clean_rounded-horizontal.align_bottom >div.st_tabs a.st_next{border-bottom-right-radius:5px}div.clean_rounded-horizontal.align_bottom >div.st_tabs a.st_prev,div.clean_rounded-horizontal.align_bottom >div.st_tabs a.st_next,div.clean_rounded-horizontal.align_bottom.st_sliding_active >div.st_tabs,div.clean_rounded-horizontal.align_bottom >div.st_tabs div.st_views{border-top-left-radius:0px;border-top-right-radius:0px}div.clean_rounded-horizontal.align_bottom >div.st_tabs a.st_prev{border-bottom-left-radius:5px}div.clean_rounded-horizontal.align_bottom >div.st_tabs{position:absolute;bottom:-44px;left:0px;margin-bottom:0px}div.clean_rounded-horizontal.align_bottom.st_sliding_active >div.st_tabs{border-top:0 none;border-bottom-right-radius:5px;border-bottom-left-radius:5px}div.clean_rounded-horizontal.align_bottom >div.st_tabs ul li a{border-bottom:1px solid #ccc}div.clean_rounded-horizontal.align_bottom >div.st_tabs ul li a.st_tab_first{border-top-left-radius:0px;border-bottom-left-radius:5px}div.clean_rounded-horizontal.align_bottom.st_sliding_active >div.st_tabs ul li a.st_tab_first{border-bottom-left-radius:0px}div.clean_rounded-horizontal.align_bottom >div.st_tabs ul li a.st_tab_active{padding-bottom:0px;border-top-color:#fff}div.clean_rounded-horizontal.align_bottom >div.st_tabs ul li a.st_tab_last{border-top-right-radius:0px;border-bottom-right-radius:5px}div.clean_rounded-horizontal.align_bottom.st_sliding_active >div.st_tabs ul li a.st_tab_last{border-bottom-right-radius:0px}div.clean_rounded-horizontal.align_bottom >div.st_views{border-bottom-left-radius:0px;border-top-right-radius:5px;border-top-left-radius:5px}div.clean_rounded-horizontal.align_bottom.st_sliding_active >div.st_views{border-bottom-right-radius:0px}div.clean_rounded-vertical{position:relative;clear:both;width:100%}div.clean_rounded-vertical >div.st_tabs a.st_prev,div.clean_rounded-vertical >div.st_tabs a.st_next{display:none;float:left;position:relative;z-index:100;height:32px;width:95px;text-indent:-999em;border:1px solid #ccc;border-top:0 none;outline:none;background:#fff url("images/arrows_v.gif") no-repeat}div.clean_rounded-vertical >div.st_tabs a.st_prev{margin-left:-1px;border-right:0 none;background-position:center 12px;border-top-left-radius:5px}div.clean_rounded-vertical >div.st_tabs a.st_prev:hover{background-position:center -52px;background-color:#f5f5f5}div.clean_rounded-vertical >div.st_tabs a.st_next{background-position:center -20px}div.clean_rounded-vertical >div.st_tabs a.st_next:hover{background-position:center -84px;background-color:#f5f5f5}div.clean_rounded-vertical >div.st_tabs a.st_prev.st_btn_disabled,div.clean_rounded-vertical >div.st_tabs a.st_next.st_btn_disabled{cursor:default;background-color:#f7f7f7}div.clean_rounded-vertical >div.st_tabs a.st_prev.st_btn_disabled{background-position:center -116px}div.clean_rounded-vertical >div.st_tabs a.st_next.st_btn_disabled{background-position:center -148px}div.clean_rounded-vertical >div.st_tabs{position:relative;z-index:100;float:left;width:193px;height:378px;margin-right:-1px;border-top:1px solid #ccc;border-top-left-radius:5px;border-bottom-left-radius:5px;overflow:hidden}div.clean_rounded-vertical.st_sliding_active >div.st_tabs{width:192px;border-left:1px solid #ccc}div.clean_rounded-vertical >div.st_tabs div.st_tabs_wrap{position:relative !important;float:left;clear:both}div.clean_rounded-vertical.st_sliding_active >div.st_tabs div.st_tabs_wrap{margin-left:-1px}div.clean_rounded-vertical >div.st_tabs ul{float:left;margin:0px;padding:0px;list-style:none}div.clean_rounded-vertical >div.st_tabs ul li{position:relative;float:left;clear:both;margin:0px}div.clean_rounded-vertical >div.st_tabs ul li a{display:block;width:171px;height:40px;margin:0px;padding:14px 0 14px 20px;font:bold 12px/18px Arial,Helvetica,sans-serif;color:#5c5c5c;text-decoration:none;outline:none;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;background-color:#f8f8f8;background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#f9f9f9),to(#f4f4f4));background-image:-webkit-linear-gradient(top,#f9f9f9,#f4f4f4);background-image:-moz-linear-gradient(top,#f9f9f9,#f4f4f4);background-image:-ms-linear-gradient(top,#f9f9f9,#f4f4f4);background-image:-o-linear-gradient(top,#f9f9f9,#f4f4f4)}div.clean_rounded-vertical >div.st_tabs ul li a:hover{color:#333;background:#fbfbfb}div.clean_rounded-vertical >div.st_tabs ul li a.st_tab_first{border-top-left-radius:5px}div.clean_rounded-vertical.st_sliding_active >div.st_tabs ul li a.st_tab_first{border-top-left-radius:0px}div.clean_rounded-vertical >div.st_tabs ul li a.st_tab_last{border-bottom-left-radius:5px}div.clean_rounded-vertical >div.st_tabs ul li a.st_tab_active{position:relative;z-index:10;color:#5ea600;padding-right:2px;background:#fff}div.clean_rounded-vertical >div.st_tabs ul li a span{display:block;clear:both;font-size:11px;font-weight:normal;color:#838383;padding-top:3px}div.clean_rounded-vertical >div.st_views{position:relative;z-index:5;height:377px;line-height:18px;border:1px solid #ccc;background-color:#fff;overflow:hidden;border-bottom-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px}div.clean_rounded-vertical.st_sliding_active >div.st_views{border-bottom-left-radius:0px}div.clean_rounded-vertical >div.st_views div.st_view{width:100%;height:100%;overflow:hidden;background-image:none;background-repeat:no-repeat !important;background-position:center center !important;background-color:transparent !important}div.clean_rounded-vertical >div.st_views div.st_view_inner{overflow:hidden !important;padding:30px}div.clean_rounded-vertical >div.st_views div.st_view_first{display:block}div.clean_rounded-vertical.align_right >div.st_tabs a.st_prev{margin-left:0px;border-top-left-radius:0px}div.clean_rounded-vertical.align_right >div.st_tabs a.st_next{margin-right:-1px;border-top-right-radius:5px}div.clean_rounded-vertical.align_right >div.st_tabs{ float:right;margin-left:-1px;margin-right:0px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-top-left-radius:0px;border-bottom-left-radius:0px}div.clean_rounded-vertical.align_right.st_sliding_active >div.st_tabs{border-right:1px solid #ccc;border-left:0 none}div.clean_rounded-vertical.align_right.st_sliding_active >div.st_tabs div.st_tabs_wrap{margin-left:0px}div.clean_rounded-vertical.align_right >div.st_tabs ul li a{border-right:1px solid #ccc}div.clean_rounded-vertical.align_right >div.st_tabs ul li a.st_tab_first{border-top-left-radius:0px;border-top-right-radius:5px}div.clean_rounded-vertical.align_right.st_sliding_active >div.st_tabs ul li a.st_tab_first{border-top-right-radius:0px}div.clean_rounded-vertical.align_right >div.st_tabs ul li a.st_tab_last{border-bottom-left-radius:0px;border-bottom-right-radius:5px}div.clean_rounded-vertical.align_right >div.st_tabs ul li a.st_tab_active{padding-right:0px;border-left-color:#fff}div.clean_rounded-vertical.align_right >div.st_views{border-top-left-radius:5px;border-bottom-left-radius:5px;border-top-right-radius:0px}div.clean_rounded-vertical.align_right.st_sliding_active >div.st_views{border-bottom-right-radius:0px}