<tr id="no_orders" >
	<td colspan="3" class="sonata-ba-list-field sonata-ba-list-field-text" >
		<p class="notice">
			{{ 'label.distribution_assign_empty'|trans({}, 'InodataFloraBundle') }}
		</p>
	</td>   
</tr>