<tr order_id={{ order.id }} class="item" >
	<td class="sonata-ba-list-field sonata-ba-list-field-text" >
		{{ order.id }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" >
		{{ order.product }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" >
		<a href="#" class="btn delete_link" title="Quitar">
			<i class="icon-remove"></i>Borrar
		</a>
	</td>
</tr>